### Process the cell-associated DNA data for B2 monkeys

First, load libraries and set up working directory

In [1]:
import os
import pandas as pd

In [2]:
os.chdir('..')

In [3]:
os.getcwd()

'/Users/fan/Documents/Research_and_References/HIV_rebound_summer2020'

Read in the data worksheet

In [4]:
dat = pd.read_excel("CA-DNA 022820_B2_CG.xlsx", sheet_name="B2 CA-DNA CG")

In [5]:
dat.head()

,record ID,animal_ID,group,source,sample date,weeks_infection,weeks_on_art_treatment,SHIVgag_DNA_copies_per_million_CD4_tcells,note,missing_value
0,NaN,RIm19,B2,Blood,2018-08-23,8,0,1220.0,NaN,NaN
1,NaN,RIm19,B2,Blood,2018-10-18,16,8,92.1,NaN,NaN
2,NaN,RIm19,B2,Blood,2019-03-11,36,28,146.0,NaN,NaN
3,NaN,RIm19,B2,Blood,2019-07-30,56,48,66.3,NaN,NaN
4,NaN,RIm19,B2,LN,2018-08-23,8,0,45.3,NaN,NaN

In [6]:
dat[dat.animal_ID=="RIm19"]

,record ID,animal_ID,group,source,sample date,weeks_infection,weeks_on_art_treatment,SHIVgag_DNA_copies_per_million_CD4_tcells,note,missing_value
0,NaN,RIm19,B2,Blood,2018-08-23,8,0,1220.0,NaN,NaN
1,NaN,RIm19,B2,Blood,2018-10-18,16,8,92.1,NaN,NaN
2,NaN,RIm19,B2,Blood,2019-03-11,36,28,146.0,NaN,NaN
3,NaN,RIm19,B2,Blood,2019-07-30,56,48,66.3,NaN,NaN
4,NaN,RIm19,B2,LN,2018-08-23,8,0,45.3,NaN,NaN
5,NaN,RIm19,B2,LN,2019-03-11,36,28,705.0,NaN,NaN
6,NaN,RIm19,B2,LN,2019-07-30,56,48,649.0,Limit of Detection,NaN
7,NaN,RIm19,B2,RB,2018-10-18,16,8,14.2,NaN,NaN
8,NaN,RIm19,B2,RB,2019-03-11,36,28,101.0,NaN,NaN
9,NaN,RIm19,B2,RB,2019-07-30,56,48,22.8,NaN,NaN

Go through each Animal ID, and extract all the measurements row by row

In [7]:
All_IDs = dat.animal_ID.unique()

In [8]:
data_dic = {'animal_id':All_IDs}

In [9]:
for aid in All_IDs:
    dat_aid = dat[dat.animal_ID == aid]
    for i,row in dat_aid.iterrows():
        col_name = "DNA_copies_{}_{}".format(row['source'],row['weeks_infection'])
        if col_name not in data_dic:
            data_dic[col_name] = [row["SHIVgag_DNA_copies_per_million_CD4_tcells"]]
        else:
            data_dic[col_name].append(row["SHIVgag_DNA_copies_per_million_CD4_tcells"])

(check that for each column we have exactly 10 records)

In [10]:
for col in data_dic:
    print(len(data_dic[col]))

10
10
10
10
10
10
10
10
10
10
10

Great! 10 entried per column.

Now make it into a dataframe and save it

In [11]:
dat_DNA = pd.DataFrame(data_dic)

In [12]:
dat_DNA.head()

,animal_id,DNA_copies_Blood_8,DNA_copies_Blood_16,DNA_copies_Blood_36,DNA_copies_Blood_56,DNA_copies_LN_8,DNA_copies_LN_36,DNA_copies_LN_56,DNA_copies_RB_16,DNA_copies_RB_36,DNA_copies_RB_56
0,RIm19,1220.0,92.1,146.0,66.3,45.3,705.0,649.0,14.2,101.0,22.8
1,RJm19,457.0,67.1,98.5,41.6,1570.0,45.0,128.0,12.1,213.0,29.8
2,RKg19,8010.0,214.0,370.0,158.0,9050.0,22.6,685.0,25.8,137.0,50.3
3,RLg19,15100.0,499.0,2120.0,617.0,5760.0,17.7,940.0,42.3,35.6,110.0
4,RQc19,175000.0,1110.0,529.0,1710.0,1730.0,400.0,3730.0,62.7,398.0,116.0

In [13]:
dat_DNA.to_csv("B2_CA_DNA.csv", index=False, index_label=False)